@import url("reset.css");

button {
  background-color: #ffffff;
  color: rgb(92, 92, 92);

  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;

  border-style: solid;
  border-color: #9e9e9e65;
}

button:hover {
  background-color: #d3d3d3;
  transition-duration: 150ms;
}

button:active {
  background-color: #a1a1a1;
}

input {
  margin-bottom: 10px;
  font-size: 20px;

  padding: 10px;
  color: rgb(92, 92, 92);
  background-color: #ffffff;

  width: 80%;
  border-style: solid;
  border-color: #9e9e9e65;
  border-width: 1px;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app {
  color: rgb(0, 0, 0);
  background-color: #ffffff;

  text-align: center;
  font-size: 24px;

  min-height: 100vh;
}

.app-header {
  font-size: calc(10px + 4vmin);
  padding-top: 20px;
  color: #5a5a5a;
}

.todo-list {
  margin-left: 30px;
  margin-top: 25px;
  padding: 15px;
  width: 70vw;
  height: 83vh;
  overflow-y: scroll;

  border-radius: 20px;
  background-color: #dddddd;

  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.28);
}

.todo-list-form-header {
  margin-top: 25px;
  color: #5a5a5a;
}

.todo-list-form {
  margin-top: 25px;
}

.form-error {
  color: rgb(255, 59, 59);
  margin-top: 10px;
}

.form-container {
  width: 25vw;
  margin: 25px;
  height: 85vh;
  margin-left: 40px;
}

.todo-container {
  display: flex;
  flex-direction: row;

  max-width: 95%;
  max-width: 100%;
  margin-right: 40px;
}

.default-card {
  border-radius: 20px;
  background-color: #dddddd;
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.28);
}
