@import url('reset.css');

button {
  background-color: #326ac7;
  color: white;

  font-size: 20px;
  padding: 10px 20px;

  border-style: solid;
  border-color: #779ad4;
  border-width: 1px;
  border-radius: 10px;
}

button:hover {
  background-color: #4a83e0;
  transition-duration: 150ms;
}

button:active {
  background-color: #5a93f0;
}

input {
  margin-bottom: 10px;
  font-size: 20px;

  padding: 2px 5px;
  color: white;
  background-color: #303540;

  border-style: solid;
  border-color: #464e61;
  border-width: 1px;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
